body {
  font-family: DM Sans;
}
.display-1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 4.4rem;
}
.display-1 > .mbr-iconfont {
  font-size: 7.04rem;
}
.display-2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.8rem;
  line-height: 1.3;
}
.display-2 > .mbr-iconfont {
  font-size: 4.48rem;
}
.display-4 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.52rem;
    font-size: calc( 2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 6px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
}
.bg-primary {
  background-color: #e1201d !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e1201d !important;
  border-color: #e1201d !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #9d1614 !important;
  border-color: #9d1614 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #9d1614 !important;
  border-color: #9d1614 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #871311;
  color: #871311;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #e1201d;
  border-color: #e1201d;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e1201d !important;
  border-color: #e1201d !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #e1201d !important;
}
.text-secondary {
  color: #149dcc !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #871311 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #0b566f !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e1201d;
  border-color: #e1201d;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #e1201d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f9d2d1;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #e1201d;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e1201d;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e1201d;
  border-bottom-color: #e1201d;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e1201d !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #149dcc !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e1201d' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rEvgBYWIpJ {
  padding-top: 225px;
  padding-bottom: 225px;
  background-image: url("../../../assets/images/mbr-4.jpg");
}
.cid-rEvgBYWIpJ h3 {
  width: fit-content;
  position: relative;
  margin: auto;
  margin-bottom: 1.4rem;
  letter-spacing: 6px;
}
.cid-rEvgBYWIpJ h3:before {
  position: absolute;
  content: '';
  left: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-rEvgBYWIpJ h3:after {
  position: absolute;
  content: '';
  right: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-rEvgDySddr {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rEvgDySddr .content-block {
  max-width: 700px;
  padding: 4rem 3rem;
}
.cid-rEvgDySddr .img-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s;
  transition-delay: 0s;
  background-image: url("../../../assets/images/04.jpg");
  background-position: center;
  background-size: cover;
  z-index: 3;
}
.cid-rEvgDySddr .overlay {
  position: absolute;
  transition: all 0.3s;
  transition-delay: 0.3s;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0%;
  background: #000000;
  z-index: 2;
  opacity: 1;
}
.cid-rEvgDySddr .overlay-wrapper {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 50%;
  transition-delay: 0.3s;
  top: 0;
  z-index: 4;
}
.cid-rEvgDySddr .col {
  padding: 0;
  display: flex;
  position: relative;
  min-height: 400px;
  justify-content: flex-end;
}
.cid-rEvgDySddr .col:hover .overlay-wrapper {
  width: 100%;
  right: 0;
  transition-delay: 0s;
}
.cid-rEvgDySddr .col:hover .overlay {
  width: 100%;
  transition-delay: 0s;
}
.cid-rEvgDySddr .col:hover .img-content {
  opacity: 1;
  width: 100%;
  transition-delay: 0.3s;
}
.cid-rEvgDySddr .col:hover .box-title2,
.cid-rEvgDySddr .col:hover .box-text2 {
  color: #ffffff;
  transition-delay: 0.3s;
}
.cid-rEvgDySddr .box-title2,
.cid-rEvgDySddr .box-text2 {
  transition: all 0.3s;
  transition-delay: 0s;
}
.cid-rEvgDySddr .box-content {
  width: 50%;
  height: 100%;
  transition: all 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #000000;
}
.cid-rEvgDySddr .content1 {
  z-index: 5;
  max-width: 450px;
  position: relative;
  transition: all 0.3s;
  transition-delay: 0.3s;
  padding: 4rem 3rem;
}
@media (max-width: 767px) {
  .cid-rEvgDySddr .img-content {
    opacity: 1;
  }
  .cid-rEvgDySddr .overlay-wrapper {
    width: 100%;
    right: 0;
  }
  .cid-rEvgDySddr .box-content {
    width: 100%;
  }
  .cid-rEvgDySddr .box-title2,
  .cid-rEvgDySddr .box-text2 {
    color: #ffffff !important;
  }
  .cid-rEvgDySddr .content-block,
  .cid-rEvgDySddr .content1 {
    padding: 3rem 1rem;
  }
}
.cid-rEvgDySddr .box-text1 {
  color: #333333;
}
.cid-rEvgDySddr .box-title2 {
  color: #ffffff;
}
.cid-rEvgE7k7k8 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rEvgE7k7k8 .content-block {
  max-width: 350px;
  padding: 4rem 3rem;
  z-index: 5;
  position: relative;
}
.cid-rEvgE7k7k8 .img-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s;
  transition-delay: 0s;
  background-image: url("../../../assets/images/background3.jpg");
  background-position: center;
  background-size: cover;
  z-index: 3;
}
.cid-rEvgE7k7k8 .block2 {
  background-image: url("../../../assets/images/02.jpg");
}
.cid-rEvgE7k7k8 .block2:hover .block2-over {
  opacity: 0;
}
.cid-rEvgE7k7k8 .block1 {
  background-image: url("../../../assets/images/04.jpg");
}
.cid-rEvgE7k7k8 .block1:hover .block1-over {
  opacity: 0;
}
.cid-rEvgE7k7k8 .block1-over {
  position: absolute;
  transition: all 0.6s;
  width: 100%;
  background-color: #cc2952;
  opactiy: 1;
  height: 100%;
  top: 0;
  left: 0;
}
.cid-rEvgE7k7k8 .block2-over {
  position: absolute;
  transition: all 0.6s;
  width: 100%;
  background-color: #ed6031;
  opactiy: 1;
  height: 100%;
  top: 0;
  left: 0;
}
.cid-rEvgE7k7k8 .overlay {
  position: absolute;
  transition: all 0.3s;
  transition-delay: 0.3s;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0%;
  background: #29a7c6;
  z-index: 2;
  opacity: 1;
}
.cid-rEvgE7k7k8 .overlay-wrapper {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 50%;
  transition-delay: 0.3s;
  top: 0;
  z-index: 4;
}
.cid-rEvgE7k7k8 .col {
  padding: 0;
  display: flex;
  position: relative;
  min-height: 400px;
  justify-content: flex-end;
}
.cid-rEvgE7k7k8 .col:hover .overlay-wrapper {
  width: 100%;
  right: 0;
  transition-delay: 0s;
}
.cid-rEvgE7k7k8 .col:hover .overlay {
  width: 100%;
  transition-delay: 0s;
}
.cid-rEvgE7k7k8 .col:hover .img-content {
  opacity: 1;
  width: 100%;
  transition-delay: 0.3s;
}
.cid-rEvgE7k7k8 .col:hover .box-title2,
.cid-rEvgE7k7k8 .col:hover .box-text2 {
  color: #ffffff;
  transition-delay: 0.3s;
}
.cid-rEvgE7k7k8 .box-title2,
.cid-rEvgE7k7k8 .box-text2 {
  transition: all 0.3s;
  transition-delay: 0s;
}
.cid-rEvgE7k7k8 .box-content {
  width: 50%;
  height: 100%;
  transition: all 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #29a7c6;
}
.cid-rEvgE7k7k8 .content1 {
  z-index: 5;
  max-width: 450px;
  position: relative;
  transition: all 0.3s;
  transition-delay: 0.3s;
  padding: 4rem 3rem;
}
.cid-rEvgE7k7k8 .content2 {
  z-index: 2;
  max-width: 450px;
  margin-bottom: -1rem;
  position: relative;
  opacity: 0;
  transition: all 0.3s;
  transition-delay: 0s;
  padding: 0 2rem;
}
@media (max-width: 767px) {
  .cid-rEvgE7k7k8 .img-content {
    opacity: 1;
  }
  .cid-rEvgE7k7k8 .overlay-wrapper {
    width: 100%;
    right: 0;
  }
  .cid-rEvgE7k7k8 .box-content {
    width: 100%;
  }
  .cid-rEvgE7k7k8 .box-title2,
  .cid-rEvgE7k7k8 .box-text2 {
    color: #ffffff !important;
  }
  .cid-rEvgE7k7k8 .content-block,
  .cid-rEvgE7k7k8 .content1 {
    padding: 3rem 1rem;
  }
}
.cid-rEvgE7k7k8 .box-text1 {
  color: #333333;
}
.cid-rEvgE7k7k8 .box-title2 {
  color: #ffffff;
}
.cid-rEvgE7k7k8 .block1-text,
.cid-rEvgE7k7k8 .mbr-section-btn {
  color: #ffffff;
}
.cid-rEvgE7k7k8 .block2-text,
.cid-rEvgE7k7k8 .mbr-section-btn {
  color: #ffffff;
}
.cid-rEvgE7k7k8 .block2-title {
  color: #333333;
}
.cid-rEvgE7k7k8 .block1-subtitle {
  color: #ffffff;
}
.cid-rEvgE7k7k8 .block2-subtitle {
  color: #ffffff;
}
.cid-rEvgEvbKJi {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rEvgEvbKJi .content-block {
  max-width: 700px;
  padding: 4rem 3rem;
}
.cid-rEvgEvbKJi .img-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s;
  transition-delay: 0s;
  background-image: url("../../../assets/images/background1.jpg");
  background-position: center;
  background-size: cover;
  z-index: 3;
}
.cid-rEvgEvbKJi .block2 {
  background: #000000;
  display: flex;
  justify-content: center;
}
.cid-rEvgEvbKJi p {
  margin-left: 10rem;
  max-width: 450px;
}
.cid-rEvgEvbKJi .overlay {
  position: absolute;
  transition: all 0.3s;
  transition-delay: 0.3s;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0%;
  background: #ed6031;
  z-index: 2;
  opacity: 1;
}
.cid-rEvgEvbKJi .box-title2,
.cid-rEvgEvbKJi .box-text2 {
  transition: all 0.3s;
  transition-delay: 0s;
}
.cid-rEvgEvbKJi .overlay-wrapper {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 50%;
  transition-delay: 0.3s;
  top: 0;
  z-index: 4;
}
.cid-rEvgEvbKJi .col {
  padding: 0;
  display: flex;
  position: relative;
  min-height: 400px;
  justify-content: flex-end;
}
.cid-rEvgEvbKJi .col:hover .overlay-wrapper {
  width: 100%;
  right: 0;
  transition-delay: 0s;
}
.cid-rEvgEvbKJi .col:hover .overlay {
  width: 100%;
  transition-delay: 0s;
}
.cid-rEvgEvbKJi .col:hover .img-content {
  opacity: 1;
  width: 100%;
  transition-delay: 0.3s;
}
.cid-rEvgEvbKJi .col:hover .box-title2,
.cid-rEvgEvbKJi .col:hover .box-text2 {
  color: #000000;
  transition-delay: 0.3s;
}
.cid-rEvgEvbKJi .box-content {
  width: 50%;
  height: 100%;
  transition: all 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #ed6031;
}
.cid-rEvgEvbKJi .content1 {
  z-index: 5;
  max-width: 450px;
  position: relative;
  transition: all 0.3s;
  transition-delay: 0.3s;
  padding: 4rem 3rem;
}
@media (max-width: 767px) {
  .cid-rEvgEvbKJi .img-content {
    opacity: 1;
  }
  .cid-rEvgEvbKJi .overlay-wrapper {
    width: 100%;
    right: 0;
  }
  .cid-rEvgEvbKJi .box-content {
    width: 100%;
  }
  .cid-rEvgEvbKJi .box-title2,
  .cid-rEvgEvbKJi .box-text2 {
    color: #000000 !important;
  }
  .cid-rEvgEvbKJi p {
    margin-left: 0;
  }
  .cid-rEvgEvbKJi .content-block,
  .cid-rEvgEvbKJi .content1 {
    padding: 3rem 1rem;
  }
}
.cid-rEvgEvbKJi .box-text1 {
  color: #333333;
}
.cid-rEvgEvbKJi .box-title2 {
  color: #ffffff;
}
.cid-rEvgEvbKJi .box-text2 {
  color: #ffffff;
}
.cid-rEvgEvbKJi .mbr-text,
.cid-rEvgEvbKJi .mbr-section-btn {
  color: #ffffff;
}
.cid-rEvgEvbKJi H2 {
  color: #ffffff;
}
.cid-rEvgEvbKJi H3 {
  color: #ffffff;
}
.cid-rEvgEVBVk3 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-rEvgEVBVk3 .mbr-text {
    text-align: center;
  }
}
.cid-rEvgEVBVk3 .container-fluid {
  padding: 0;
}
.cid-rEvgEVBVk3 .media-content {
  max-width: 580px;
  margin: auto;
  padding: 1rem;
}
.cid-rEvgEVBVk3 img {
  height: 100%;
  object-fit: cover;
}
.cid-rEvgEVBVk3 .mbr-figure {
  height: 100%;
}
.cid-rEvgEVBVk3 .col-lg-6 {
  padding: 0;
}
.cid-rEvgEVBVk3 .row {
  margin: 0;
}
.cid-rEvgFeRWGC {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-rEvgFeRWGC .price-term {
  vertical-align: top;
}
.cid-rEvgFeRWGC h4 {
  margin: 0;
}
.cid-rEvgFeRWGC .card1 {
  background: #cc2952;
}
.cid-rEvgFeRWGC .card2 {
  background: #29a7c6;
}
.cid-rEvgFeRWGC .card3 {
  background: #ed6031;
}
.cid-rEvgFeRWGC .nav-tabs {
  border: none !important;
}
.cid-rEvgFeRWGC .nav-tabs .nav-item {
  margin: 0;
}
.cid-rEvgFeRWGC .nav-tabs .btn {
  white-space: nowrap;
}
.cid-rEvgFeRWGC .nav-tabs .btn:after {
  display: none;
}
@media (min-width: 768px) {
  .cid-rEvgFeRWGC .nav-tabs .btn {
    margin: 0px !important;
  }
  .cid-rEvgFeRWGC .nav-tabs .nav-item:first-child .btn {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .cid-rEvgFeRWGC .nav-tabs .nav-item:last-child .btn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
.cid-rEvgFeRWGC .plan-item .mbr-iconfont {
  margin-right: 22px;
  font-size: 22px;
  position: relative;
  top: 18px;
}
.cid-rEvgFeRWGC .plan-item p {
  letter-spacing: 0.4px;
  margin: 0;
  padding: 16px 0 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  max-width: 205px;
  width: 100%;
}
.cid-rEvgFeRWGC .plan-body .mbr-section-btn {
  padding: 44px 0 0;
}
.cid-rEvgFeRWGC .plan-body .mbr-section-btn .btn {
  margin-bottom: 14px;
}
.cid-rEvgFeRWGC .plan-header {
  padding: 4rem 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cid-rEvgFeRWGC .plan-body {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  padding: 40px 1rem;
}
.cid-rEvgFeRWGC .month {
  letter-spacing: 2px;
}
.cid-rEvgFeRWGC .plan {
  word-break: break-word;
  position: relative;
  max-width: 400px;
  margin-bottom: 1rem;
  color: #767676;
}
.cid-rEvgFeRWGC .row {
  justify-content: center;
}
.cid-rEvgFeRWGC .price-value {
  vertical-align: top;
}
@media (max-width: 550px) {
  .cid-rEvgFeRWGC .price-figure {
    font-size: 4.25rem;
  }
}
@media (max-width: 992px) {
  .cid-rEvgFeRWGC .plan {
    margin-bottom: 2rem;
  }
}
.cid-rEvgFeRWGC .plan-item p,
.cid-rEvgFeRWGC .plan-item .mbr-iconfont {
  color: #767676;
  text-align: center;
}
.cid-rEvgFIP9z7 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rEvgFIP9z7 .nav-tabs .nav-item.open .nav-link:focus,
.cid-rEvgFIP9z7 .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-rEvgFIP9z7 .nav-tabs {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border: none;
}
.cid-rEvgFIP9z7 .tab-content {
  border: 1px solid lightgray;
  padding: 1.5rem 3rem;
}
.cid-rEvgFIP9z7 .nav-tabs .nav-link {
  color: #767676;
  font-style: normal;
  padding: 1rem 1.5rem;
  background: transparent;
  font-weight: 600;
  border: none;
  border-radius: 0;
}
.cid-rEvgFIP9z7 .nav-tabs .nav-link:hover {
  cursor: pointer;
}
.cid-rEvgFIP9z7 .nav-tabs .nav-link.active {
  font-weight: 600;
  font-style: normal;
  border: 1px solid lightgray;
  border-bottom: none;
}
.cid-rEvgFIP9z7 P {
  color: #767676;
}
.cid-rEvgFIP9z7 H2 {
  color: #000000;
}
@media (max-width: 767px) {
  .cid-rEvgFIP9z7 .nav-tabs {
    flex-direction: column;
    justify-content: center;
  }
  .cid-rEvgFIP9z7 .mbr-text,
  .cid-rEvgFIP9z7 .nav-link {
    text-align: center;
  }
  .cid-rEvgFIP9z7 .nav-tabs .nav-link.active {
    border-bottom: 1px solid lightgray;
  }
}
.cid-rEvgGbq33U {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-rEvgGbq33U h3 {
  width: fit-content;
  position: relative;
  margin: auto;
  margin-bottom: 1.4rem;
  letter-spacing: 6px;
}
.cid-rEvgGbq33U h3:before {
  position: absolute;
  content: '';
  left: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-rEvgGbq33U h3:after {
  position: absolute;
  content: '';
  right: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-rEvgGbq33U .mbr-text,
.cid-rEvgGbq33U .mbr-section-btn {
  color: #767676;
}
.cid-rEvgGz1k2E {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #efefef;
}
.cid-rEvgGz1k2E img {
  width: 65%;
  pointer-events: all;
}
.cid-rEvgGz1k2E .row {
  justify-content: center;
}
.cid-rEvgGz1k2E .img1 {
  position: absolute;
  left: -8rem;
  top: 5rem;
  z-index: 4;
  width: 100%;
  pointer-events: none;
}
.cid-rEvgGz1k2E .img2 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  pointer-events: none;
}
.cid-rEvgGz1k2E .img3 {
  position: absolute;
  top: 12rem;
  right: -8rem;
  width: 100%;
  pointer-events: none;
}
.cid-rEvgGz1k2E .item {
  height: 600px;
  margin: auto;
  text-align: center;
}
@media (max-width: 767px) {
  .cid-rEvgGz1k2E .img1 {
    left: -2rem;
    top: 5rem;
  }
  .cid-rEvgGz1k2E .img2 {
    top: 0rem;
    left: 0rem;
  }
  .cid-rEvgGz1k2E .img3 {
    top: 8rem;
    right: -2rem;
  }
  .cid-rEvgGz1k2E .item {
    height: 300px;
  }
}
.cid-rEvgGTWwEz {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rEvgGTWwEz h3 {
  text-align: center;
}
.cid-rEvgGTWwEz h2 {
  width: fit-content;
  position: relative;
  margin: auto;
  margin-bottom: 1.4rem;
  letter-spacing: 4px;
}
.cid-rEvgGTWwEz h2:before {
  position: absolute;
  content: '';
  left: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-rEvgGTWwEz h2:after {
  position: absolute;
  content: '';
  right: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-rEvgGTWwEz .wrap {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.cid-rEvgGTWwEz .mbr-section-subtitle {
  color: #767676;
}
.cid-rEvgGTWwEz .pie_progress__number {
  text-align: center !important;
}
.cid-rEvgGTWwEz .card-title {
  margin-bottom: 0;
}
.cid-rEvgGTWwEz .card {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  word-wrap: break-word;
}
.cid-rEvgGTWwEz .svg-gradient {
  position: absolute;
}
.cid-rEvgGTWwEz ellipse {
  stroke: rgba(206, 206, 206, 0.4);
}
.cid-rEvgGTWwEz path {
  stroke: #ed6031;
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-rEvgGTWwEz .card {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
  }
}
.cid-rEvgHATIvB {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 0px;
}
.cid-rEvgHATIvB .image-block {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.cid-rEvgHATIvB .image-block:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 2;
}
.cid-rEvgHATIvB .image-block:hover:before {
  opacity: 0.4;
}
.cid-rEvgHATIvB .image-block:hover .wrap {
  opacity: 1;
}
.cid-rEvgHATIvB .image-block:hover img {
  transform: scale(1.05);
}
.cid-rEvgHATIvB .row {
  justify-content: center;
  padding: 0.2rem;
}
.cid-rEvgHATIvB h4 {
  letter-spacing: 2px;
}
.cid-rEvgHATIvB figcaption {
  position: relative;
}
.cid-rEvgHATIvB figcaption .wrap {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 3;
}
.cid-rEvgHATIvB img {
  width: 100%;
  height: 100%;
  transition: all 3s;
  object-fit: cover;
}
.cid-rEvgHATIvB .col-md-4 {
  padding: 0.2rem;
}
@media (min-width: 992px) {
  .cid-rEvgHATIvB .col-lg-25 {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0.2rem;
  }
  .cid-rEvgHATIvB .image-block {
    height: 500px;
  }
}
@media (max-width: 767px) {
  .cid-rEvgHATIvB .image-block:before {
    opacity: 0.4;
  }
  .cid-rEvgHATIvB .image-block .wrap {
    opacity: 1;
  }
}
.cid-rEvgIch8mT {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-rEvgIch8mT .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
.cid-rEvgIch8mT h5 {
  padding-bottom: 2rem;
}
.cid-rEvgIch8mT textarea {
  min-height: 150px;
}
.cid-rEvgIch8mT .mbr-iconfont {
  position: absolute;
  right: 1.2rem;
  color: #4554c1;
  top: 1rem;
  font-size: 1.2rem;
}
.cid-rEvgIch8mT h3 {
  width: fit-content;
  position: relative;
  margin: auto;
  margin-bottom: 1.4rem;
  letter-spacing: 6px;
}
.cid-rEvgIch8mT h3:before {
  position: absolute;
  content: '';
  left: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-rEvgIch8mT h3:after {
  position: absolute;
  content: '';
  right: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-rEvgIch8mT .form-control,
.cid-rEvgIch8mT .field-input {
  padding: 1rem;
  background-color: #ffffff;
  border-color: #767676;
  color: #767676 !important;
  transition: 0.4s;
  font-size: 0.9rem;
  box-shadow: none;
  border-radius: 8px;
  outline: none;
}
.cid-rEvgIch8mT .form-control input::-webkit-input-placeholder,
.cid-rEvgIch8mT .field-input input::-webkit-input-placeholder,
.cid-rEvgIch8mT .form-control textarea::-webkit-input-placeholder,
.cid-rEvgIch8mT .field-input textarea::-webkit-input-placeholder {
  color: #767676 !important;
}
.cid-rEvgIch8mT .form-control input:-moz-placeholder,
.cid-rEvgIch8mT .field-input input:-moz-placeholder,
.cid-rEvgIch8mT .form-control textarea:-moz-placeholder,
.cid-rEvgIch8mT .field-input textarea:-moz-placeholder {
  color: #767676 !important;
}
.cid-rEvgIch8mT .form-control:hover,
.cid-rEvgIch8mT .field-input:hover,
.cid-rEvgIch8mT .form-control:focus,
.cid-rEvgIch8mT .field-input:focus {
  background-color: #ffffff;
  border-color: #767676;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-rEvgIch8mT .form-control:hover input::-webkit-input-placeholder,
.cid-rEvgIch8mT .field-input:hover input::-webkit-input-placeholder,
.cid-rEvgIch8mT .form-control:focus input::-webkit-input-placeholder,
.cid-rEvgIch8mT .field-input:focus input::-webkit-input-placeholder,
.cid-rEvgIch8mT .form-control:hover textarea::-webkit-input-placeholder,
.cid-rEvgIch8mT .field-input:hover textarea::-webkit-input-placeholder,
.cid-rEvgIch8mT .form-control:focus textarea::-webkit-input-placeholder,
.cid-rEvgIch8mT .field-input:focus textarea::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-rEvgIch8mT .form-control:hover input:-moz-placeholder,
.cid-rEvgIch8mT .field-input:hover input:-moz-placeholder,
.cid-rEvgIch8mT .form-control:focus input:-moz-placeholder,
.cid-rEvgIch8mT .field-input:focus input:-moz-placeholder,
.cid-rEvgIch8mT .form-control:hover textarea:-moz-placeholder,
.cid-rEvgIch8mT .field-input:hover textarea:-moz-placeholder,
.cid-rEvgIch8mT .form-control:focus textarea:-moz-placeholder,
.cid-rEvgIch8mT .field-input:focus textarea:-moz-placeholder {
  color: #ffffff;
}
.cid-rEvgIch8mT .jq-number__spin:hover,
.cid-rEvgIch8mT .jq-number__spin:focus {
  background-color: #ffffff;
  border-color: #767676;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-rEvgIch8mT .jq-number__spin {
  background-color: #ffffff;
  border-color: #767676;
  color: #767676;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rEvgIch8mT .jq-selectbox li,
.cid-rEvgIch8mT .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-rEvgIch8mT .jq-selectbox li:hover,
.cid-rEvgIch8mT .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-rEvgIch8mT .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-rEvgIch8mT .jq-number__spin.minus:hover:after,
.cid-rEvgIch8mT .jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-rEvgIch8mT .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-rEvgIch8mT .jq-number__spin.minus:after,
.cid-rEvgIch8mT .jq-number__spin.plus:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-rEvgIch8mT input::-webkit-clear-button {
  display: none;
}
.cid-rEvgIch8mT input::-webkit-inner-spin-button {
  display: none;
}
.cid-rEvgIch8mT input::-webkit-outer-spin-button {
  display: none;
}
.cid-rEvgIch8mT input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-rEvgIch8mT H5 {
  text-align: center;
  color: #000000;
}
.cid-rEvgIch8mT P {
  text-align: center;
  color: #767676;
}
.cid-rEvgIch8mT H3 {
  color: #e1201d;
}
.cid-rEvgIF3J2I .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-rEvgIF3J2I .number-wrap {
  color: #000000;
  border-color: rgba(255, 255, 255, 0.15);
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 13px 10px;
  margin: 0;
  min-width: 118px;
  border-radius: 2px;
  max-width: 100%;
}
.cid-rEvgIF3J2I .number {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  text-transform: none;
  letter-spacing: -2px;
  word-spacing: 0;
  line-height: 1.3;
  color: #767676;
}
.cid-rEvgIF3J2I .period {
  display: block;
  padding-top: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cid-rEvgIF3J2I .dot {
  position: absolute;
  top: -10px;
  right: -0.8em;
  width: 1em;
  display: block;
  height: 83%;
  overflow: hidden;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 89.65px;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  color: #767676;
}
.cid-rEvgIF3J2I .countdown-cont {
  margin: 0 auto;
}
.cid-rEvgIF3J2I .full-count-container {
  background: #efefef;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-rEvgIF3J2I .dot {
    right: -0.6em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-rEvgIF3J2I .dot {
    right: -1em;
  }
}
@media (max-width: 768px) {
  .cid-rEvgIF3J2I .dot {
    display: none;
  }
  .cid-rEvgIF3J2I .number {
    white-space: nowrap;
  }
}
@media (max-width: 550px) {
  .cid-rEvgIF3J2I .number-wrap {
    min-width: auto;
  }
}
@media (max-width: 440px) {
  .cid-rEvgIF3J2I .number {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .cid-rEvgIF3J2I .period {
    font-size: 0.8rem;
  }
}
@media (max-width: 300px) {
  .cid-rEvgIF3J2I .number {
    font-size: 25px;
  }
  .cid-rEvgIF3J2I .period {
    font-size: 0.7rem;
  }
}
.cid-rEvgIF3J2I H2 {
  color: #000000;
}
.cid-rEvgJdviqL {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rEvgJdviqL .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-rEvgJdviqL .btn-black {
  background: black!important;
  border-radius: 6px;
}
.cid-rEvgJdviqL .btn-black:hover {
  background: gray!important;
  border-color: gray!important;
}
.cid-rEvgJdviqL textarea {
  min-height: 150px;
}
.cid-rEvgJdviqL .google-map {
  height: 27rem;
  position: relative;
}
.cid-rEvgJdviqL .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-rEvgJdviqL .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rEvgJdviqL .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rEvgJdviqL .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-rEvgJdviqL .mbr-iconfont {
  position: absolute;
  right: 1.2rem;
  color: #4554c1;
  top: 1rem;
  font-size: 1.2rem;
}
.cid-rEvgJdviqL .form-control,
.cid-rEvgJdviqL .field-input {
  padding: 1rem;
  background-color: #ffffff;
  border-color: #767676;
  color: #767676 !important;
  transition: 0.4s;
  font-size: 0.9rem;
  box-shadow: none;
  border-radius: 8px;
  outline: none;
}
.cid-rEvgJdviqL .form-control input::-webkit-input-placeholder,
.cid-rEvgJdviqL .field-input input::-webkit-input-placeholder,
.cid-rEvgJdviqL .form-control textarea::-webkit-input-placeholder,
.cid-rEvgJdviqL .field-input textarea::-webkit-input-placeholder {
  color: #767676 !important;
}
.cid-rEvgJdviqL .form-control input:-moz-placeholder,
.cid-rEvgJdviqL .field-input input:-moz-placeholder,
.cid-rEvgJdviqL .form-control textarea:-moz-placeholder,
.cid-rEvgJdviqL .field-input textarea:-moz-placeholder {
  color: #767676 !important;
}
.cid-rEvgJdviqL .form-control:hover,
.cid-rEvgJdviqL .field-input:hover,
.cid-rEvgJdviqL .form-control:focus,
.cid-rEvgJdviqL .field-input:focus {
  background-color: #ffffff;
  border-color: #767676;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-rEvgJdviqL .form-control:hover input::-webkit-input-placeholder,
.cid-rEvgJdviqL .field-input:hover input::-webkit-input-placeholder,
.cid-rEvgJdviqL .form-control:focus input::-webkit-input-placeholder,
.cid-rEvgJdviqL .field-input:focus input::-webkit-input-placeholder,
.cid-rEvgJdviqL .form-control:hover textarea::-webkit-input-placeholder,
.cid-rEvgJdviqL .field-input:hover textarea::-webkit-input-placeholder,
.cid-rEvgJdviqL .form-control:focus textarea::-webkit-input-placeholder,
.cid-rEvgJdviqL .field-input:focus textarea::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-rEvgJdviqL .form-control:hover input:-moz-placeholder,
.cid-rEvgJdviqL .field-input:hover input:-moz-placeholder,
.cid-rEvgJdviqL .form-control:focus input:-moz-placeholder,
.cid-rEvgJdviqL .field-input:focus input:-moz-placeholder,
.cid-rEvgJdviqL .form-control:hover textarea:-moz-placeholder,
.cid-rEvgJdviqL .field-input:hover textarea:-moz-placeholder,
.cid-rEvgJdviqL .form-control:focus textarea:-moz-placeholder,
.cid-rEvgJdviqL .field-input:focus textarea:-moz-placeholder {
  color: #ffffff;
}
.cid-rEvgJdviqL .jq-number__spin:hover,
.cid-rEvgJdviqL .jq-number__spin:focus {
  background-color: #ffffff;
  border-color: #767676;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-rEvgJdviqL .jq-number__spin {
  background-color: #ffffff;
  border-color: #767676;
  color: #767676;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rEvgJdviqL .jq-selectbox li,
.cid-rEvgJdviqL .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-rEvgJdviqL .jq-selectbox li:hover,
.cid-rEvgJdviqL .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-rEvgJdviqL .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-rEvgJdviqL .jq-number__spin.minus:hover:after,
.cid-rEvgJdviqL .jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-rEvgJdviqL .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-rEvgJdviqL .jq-number__spin.minus:after,
.cid-rEvgJdviqL .jq-number__spin.plus:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-rEvgJdviqL input::-webkit-clear-button {
  display: none;
}
.cid-rEvgJdviqL input::-webkit-inner-spin-button {
  display: none;
}
.cid-rEvgJdviqL input::-webkit-outer-spin-button {
  display: none;
}
.cid-rEvgJdviqL input::-webkit-calendar-picker-indicator {
  display: none;
}
@media (max-width: 992px) {
  .cid-rEvgJdviqL .google-map {
    margin-bottom: 3rem;
  }
}
.cid-rEvgJD8y5P {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #767676;
}
@media (max-width: 767px) {
  .cid-rEvgJD8y5P .content {
    text-align: center;
  }
  .cid-rEvgJD8y5P .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-rEvgJD8y5P .img-logo img {
  height: 6rem;
}
.cid-rEvgJD8y5P .social-list {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-rEvgJD8y5P .social-list .mbr-iconfont-social {
  font-size: 1rem;
  color: #fff;
}
.cid-rEvgJD8y5P .social-list .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rEvgJD8y5P .social-list .soc-item {
  margin: 0 3px 15px 3px;
}
.cid-rEvgJD8y5P .social-list a {
  margin: 0;
  opacity: .7;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rEvgJD8y5P .social-list a:hover {
  opacity: 1;
}
.cid-rEvgJD8y5P .list {
  list-style-type: none;
  padding: 0;
}
.cid-rEvgJD8y5P .list li {
  padding-bottom: .5rem;
}
.cid-rEvgJD8y5P .list li:last-child {
  padding-bottom: 0;
}
.cid-rEvgJD8y5P .mbr-footer-list,
.cid-rEvgJD8y5P .form-text {
  color: #cccccc;
}
@media (max-width: 767px) {
  .cid-rEvgJD8y5P .mbr-footer-list,
  .cid-rEvgJD8y5P .form-text,
  .cid-rEvgJD8y5P .footer-title,
  .cid-rEvgJD8y5P .footer-main-title,
  .cid-rEvgJD8y5P .form-text,
  .cid-rEvgJD8y5P .list {
    text-align: center !important;
  }
  .cid-rEvgJD8y5P .mbr-form,
  .cid-rEvgJD8y5P .social-list {
    -webkit-justify-content: center !important;
    justify-content: center !important;
  }
}
.cid-rEvgJD8y5P .footer-main-title {
  color: #ffffff;
}
.cid-tebRmbrdgP {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
  overflow: hidden;
}
.cid-rEvgLPOSGP .navbar {
  background: #000000;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
  flex-direction: column;
}
.cid-rEvgLPOSGP .navbar-dropdown.bg-color.transparent.opened {
  background: #000000;
}
.cid-rEvgLPOSGP a {
  font-style: normal;
}
.cid-rEvgLPOSGP .menu-wrap {
  display: flex;
  width: 100%;
}
.cid-rEvgLPOSGP .top-icon {
  font-size: 1rem;
  color: #ffffff;
  padding: 0.4rem;
}
.cid-rEvgLPOSGP .icon-wrap {
  width: 100%;
  margin-top: 1.2rem;
  margin-bottom: 0.4rem;
  padding: 0 6rem;
}
.cid-rEvgLPOSGP .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rEvgLPOSGP .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem 1.2rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rEvgLPOSGP .nav-item:focus,
.cid-rEvgLPOSGP .nav-link:focus {
  outline: none;
}
.cid-rEvgLPOSGP .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rEvgLPOSGP .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rEvgLPOSGP .menu-logo {
  margin-right: auto;
}
.cid-rEvgLPOSGP .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  margin-top: -1.6rem;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rEvgLPOSGP .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rEvgLPOSGP .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
  font-weight: 400;
}
.cid-rEvgLPOSGP .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rEvgLPOSGP .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rEvgLPOSGP .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rEvgLPOSGP .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rEvgLPOSGP .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rEvgLPOSGP .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rEvgLPOSGP .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rEvgLPOSGP .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rEvgLPOSGP .dropdown .dropdown-menu {
  background: #000000;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rEvgLPOSGP .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rEvgLPOSGP .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rEvgLPOSGP .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rEvgLPOSGP .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rEvgLPOSGP .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rEvgLPOSGP .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rEvgLPOSGP .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rEvgLPOSGP .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rEvgLPOSGP .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rEvgLPOSGP .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rEvgLPOSGP .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rEvgLPOSGP button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rEvgLPOSGP button.navbar-toggler:focus {
  outline: none;
}
.cid-rEvgLPOSGP button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rEvgLPOSGP button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rEvgLPOSGP button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rEvgLPOSGP button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rEvgLPOSGP button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rEvgLPOSGP nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rEvgLPOSGP nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rEvgLPOSGP nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rEvgLPOSGP nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rEvgLPOSGP .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rEvgLPOSGP .collapsed .btn {
  display: -webkit-flex;
}
.cid-rEvgLPOSGP .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rEvgLPOSGP .collapsed .navbar-collapse.collapsing,
.cid-rEvgLPOSGP .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rEvgLPOSGP .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rEvgLPOSGP .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rEvgLPOSGP .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rEvgLPOSGP .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rEvgLPOSGP .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rEvgLPOSGP .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rEvgLPOSGP .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rEvgLPOSGP .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rEvgLPOSGP .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rEvgLPOSGP .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-rEvgLPOSGP .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rEvgLPOSGP .collapsed button.navbar-toggler {
  display: block;
}
.cid-rEvgLPOSGP .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rEvgLPOSGP .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rEvgLPOSGP .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rEvgLPOSGP .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rEvgLPOSGP .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rEvgLPOSGP .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-rEvgLPOSGP.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rEvgLPOSGP img {
    height: 3.8rem !important;
  }
  .cid-rEvgLPOSGP .icon-wrap {
    margin-top: 1rem;
  }
  .cid-rEvgLPOSGP .menu-wrap {
    flex-direction: column;
  }
  .cid-rEvgLPOSGP .btn {
    display: -webkit-flex;
  }
  .cid-rEvgLPOSGP button.navbar-toggler {
    display: block;
  }
  .cid-rEvgLPOSGP .navbar-brand {
    margin-left: 1rem !important;
    margin-top: -3rem !important;
  }
  .cid-rEvgLPOSGP .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rEvgLPOSGP .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rEvgLPOSGP .navbar-collapse.collapsing,
  .cid-rEvgLPOSGP .navbar-collapse.show {
    display: block !important;
  }
  .cid-rEvgLPOSGP .navbar-collapse.collapsing .navbar-nav,
  .cid-rEvgLPOSGP .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rEvgLPOSGP .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rEvgLPOSGP .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rEvgLPOSGP .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rEvgLPOSGP .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rEvgLPOSGP .navbar-collapse.collapsing .navbar-buttons,
  .cid-rEvgLPOSGP .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rEvgLPOSGP .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rEvgLPOSGP .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rEvgLPOSGP .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rEvgLPOSGP .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rEvgLPOSGP .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rEvgLPOSGP .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rEvgLPOSGP .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
@media (max-width: 767px) {
  .cid-rEvgLPOSGP .icon-wrap {
    margin-top: 4rem;
    padding: 0 4rem;
  }
  .cid-rEvgLPOSGP .navbar-brand {
    margin-top: -6rem !important;
  }
}
.cid-rEvgLPOSGP .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rEvgLPOSGP .nav-link:hover,
.cid-rEvgLPOSGP .dropdown-item:hover {
  color: #cccccc !important;
}
